@font-face {
    font-family: western;
    src: url(../font/WesternBangBang.otf);
}

body {
    font-family: western;
    font-size: 24px;
    background-color: #EDEBCB;
}

p {
    text-align: center;
}