<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#000000"/>
    <link rel="icon" href="{% static 'streamer_site/chatbot/favicon.ico'%}">
    <link rel=stylesheet href="{% static 'streamer_site/chatbot/css/style.css'%}">
    <title>Scribot</title>
</head>
<body>
    <script defer src="{% static 'streamer_site/chatbot/scripts/bot/Etiquette.js'%}"></script>
    <script defer src="{% static 'streamer_site/chatbot/scripts/bot/data.js'%}"></script>
    <script defer src="{% static 'streamer_site/chatbot/scripts/bot/chatbot.js'%}"></script>
    <script defer src="{% static 'streamer_site/chatbot/scripts/manage_affiches/actions.js'%}"></script>
    <script defer src="{% static 'streamer_site/chatbot/scripts/manage_affiches/Affiche.js'%}"></script>
    <script defer src="{% static 'streamer_site/chatbot/scripts/manage_affiches/requests.js'%}"></script>
    <div class=chatbox id=chatBox>
    </div>

    <div class=textzone>
        <label for=textField></label><textarea class=textfield id=textField></textarea>
        <button class=sendbutton id=sendButton onclick="readTextField()">Envoyer</button>
    </div>
</body>
</html>