<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'streamer_site/css/style.css' %}">
    <title>Streamer of the month</title>
</head>
<body style="text-align: center">
    <h1>RECHERCHÉ MORT OU VIF</h1>
    <h1>{{ nom }}</h1>
    <p>{{ description }}</p>
    <img alt="image associée au streamer" style="width: 30%; height: auto" src="{% static 'images/' %}{{ image }}">

    <hr>
    <h2>Vous connaissez un streamer de la catégorie science et technologie ?</h2>
    <p>Ajoutez le pour qu'il ait une chance d'être nominé streamer du mois</p>

    <div style="margin: auto; width: fit-content">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ streamer_form.as_p }}
            <button type="submit">envoyer</button>
        </form>
    </div>
</body>
</html>