<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'streamer_site/css/style.css' %}">
    <title>Nope !</title>
</head>
<body style="text-align: center">
    <h1>404 !</h1>
    <h1>{{ nom }}</h1>
    <p>Ce streamer n'existe pas. Ou il n'est pas recherché ! N'hésite pas à le répertorier <a href="/">ici</a></p>
    <img alt="image 404 not found" style="width: 30%; height: auto" src="{% static 'images/notfound.png'%}">
</body>
</html>