<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'streamer_site/css/style.css' %}">
    <title>Streamer of the month</title>
</head>
<body style="text-align: center">
    <h1>RECHERCHÉ MORT OU VIF</h1>
    <h1>{{ nom }}</h1>
    <p>{{ description }}</p>
    <img alt="image associée au streamer" style="width: 30%; height: auto" src="{% static 'images/' %}{{ image }}">
</body>
</html>
